*{
    margin: 0;
    padding: 0;
}

a{
   text-decoration: none;
}

body{
    overflow-x: hidden;
    background-color: rgb(250, 249, 249);
}

.head-main{
    width: 1100px;
    margin: 0 auto;
}

.nav_left{
    /* border: 1px solid blue; */
    margin-top: 5px;
}

.nav_right{
    float: right;
    /* border: 1px solid blue; */
    margin-top: 5px;
    
}

.nav_left,.nav_left>img,.nav_left>span,.nav_left>ul,.nav_left li,.nav_right>ul,.nav_right li,.nav_left .search{
    float: left;
}

.nav_left>img{
    margin-left: 25px;
    width: 75px;
    height: 50px;
}

.nav_left>span{   
    margin-left: 5px;
    font-size: 20px;
    color: #4537e2;
    font-weight: bold;
    line-height: 60px;
}

.nav_right li{
    margin-right: 20px;
    height: 60px;
    list-style: none;
    text-align: center;
}

#user{ 
    cursor: pointer;
    /* border: 1px solid red;  */
}

#user img{   
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;  
}

#userTab{
    display: none;
    /* border: 1px solid red;  */
    position: absolute;
    top: 65px;
    right: 20px;
    width: 250px;
    height: 200px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 16px 0px rgba(10, 24, 37, 0.2);
    z-index: 999;
    padding: 30px;
}

.userinfo{
    overflow: hidden;
}

.userfile img{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.userfile div{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.userfile div h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
}

.userfile div span{
    font-size: 14px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
}

.userfunc{
    padding-top: 15px;
    width: 100%;
    /* border: 1px solid blue;  */
    overflow: hidden;
}

.userfunc a{
    /* border: 1px solid blue;  */
    background-color: #F8FAFC;
    color: #000;
    float: left;
    font-size: 15px;
    padding: 5px 25px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 2px;
}

.userfunc a:hover{
    opacity: .8;
    background-color: #d8dae0;
}

.userCont .line{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: #ddd;
}

.userCont>a{
    display: block;
    font-size: 12px;
    margin-top: 15px;
    color: gray;
}

.userCont>a:hover{
    color: rgb(75, 75, 75);
}

.nav_left li{
    height: 60px;
    list-style: none;
    text-align: center;
    margin-left: 20px;   
}

.nav_left a,.nav_right a{
    font-size: 16px;
    color: #485696; 
    line-height: 60px;
}

.nav_left a:hover,.nav_right a:hover{
    color: #685cf0;
}

.home_header{
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: #ffffff;
}

.shop-main{
    width: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
}

.main-top{
    width: 100%;
    height:  150px;
    background-color: #685cf0;
}

.main-center{
    width: 1100px; 
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: -120px;
    margin-bottom: 100px;
    /* box-shadow: 0 8px 16px 0 rgba(7,17,27,.1); */
}

.main-center h4{
    font-size: 25px;
    margin-left: 20px;
    color: #fff;
    font-weight: normal;
}

.main-center .detail{
    width: 100%;  
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
}

.main-center .empty{
    height: 500px;
}

.main-center .have{
    padding: 30px 0;
    overflow: hidden;
}

.detail-tit,.detail-main{
    /* border: 1px solid red; */
    overflow: hidden;
    width: 1020px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.detail-tit{
    padding-bottom: 30px;
    color: gray;
    
}

.detail-tit>div,.detail-main>div{
    float: left;
    margin-right: 40px;
    font-size: 15px;
}

.detail-tit>div:first-child,.detail-main>div:first-child{
    width: 650px;
    /* border: 1px solid blue; */
}

.detail-tit>div:nth-child(2),.detail-main>div:nth-child(2){
    width: 180px;
    /* border: 1px solid blue; */
}

.detail-tit>div:last-child,.detail-main>div:last-child{
    width: 60px;
    /* border: 1px solid blue; */
}

.commodity-info{
    padding-bottom: 20px;
}

.commodity-info>img{
    float: left;
    margin-top: 20px;
    width: 160px;
    height: 90px;
}

.commodity-info>span{
    float: left;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    width: 400px;
}

.commodity-price>span{
    font-weight: bold;
    line-height: 130px;
}

.empty>div{
    margin: 200px auto;
    color: gray;
    font-size: 25px;
    width: 200px;
    
    /* border: 1px solid red; */
}


.close>img{
    margin-top: 55px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.account{
    width: auto;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.account span{
    font-size: 12px;
    margin-right: 40px;
}

.account button{
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: red;
}

.account b{
    color: red;
    font-size: 16px;
}

footer{
    background-color: #fff;
}

footer>div{    
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 50px;
}

.footer_left{
    width: 400px;
    float: left;  
    /* border: 1px solid green; */
    margin-left: 110px;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.footer_left>p{
    /* width: 350px; */
    font-size: 11px;
    float: right;
    margin-top: 25px;
    text-indent: 22px;
    line-height: 18px;
    color: #8492A6;
     /* border: 1px solid green; */
}

.footer_right{
    /* width: 380px; */
    float: left;
    /* border: 1px solid green; */
    margin-left: 150px;
    /* padding-left: 130px;
    padding-right: 100px; */
}

.footer_right>div{
    float: right;
    text-align: center;
}

.footer_right>div:nth-child(1),.footer_right>div:nth-child(2){
    margin-left: 80px;
    /* border: 1px solid green; */
}

.footer_right h6{
    /* width: 55px; */
    font-size: 13px;
    color: rebeccapurple;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(130, 89, 241);
}

.footer_right ul{
    list-style: none; 
    padding-top: 5px;
}

.footer_right li{
    margin-top: 5px;
}

.footer_right a{
    font-size: 12px;
    color: #8492A6; 
}

.footer_right a:hover{
    color: rgb(71, 45, 145); 
}

.power{
    width: 100%;
    height: 20px;   
    font-weight: bold;
    float: left;   
    font-size: 12px; 
    text-align: center;
    color: rebeccapurple;
    padding-top: 30px;
}

.power>a:hover{
    color: #685cf0;   
}
